{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'myapp/base.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/index.css' %}">
</head>

<div class="fluid-container">
    <div id="hr">
        <h3>Restraunts</h3>
    </div>
    <div id="container">
        {% for restraunt in restraunt_list%}
        <div class="container" id="card">
            <div>
                <img id="card-image" src="{{restraunt.restraunt_image.url}}">
            </div>
            <hr>
            <div class="card-body">
                <div class="card-title">
                    <a id="a" href="/detail/{{restraunt.id}}">
                        <h4>{{restraunt.name}}</h4>
                    </a>
                </div>
                <div class="card-branch">
                    {{restraunt.branch}}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>


</div>
{% endblock %}